/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*Font Variable*/
/*Color Variable*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 0.938rem;
  width: 100%;
  max-width: 1600px;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-one-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-two-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-column {
  width: 50%;
}

header, footer, section {
  max-width: 1920px;
  margin: 0 auto;
}

.section-title {
  position: relative;
}

.section-title:before {
  content: "";
  position: absolute;
  background-color: #7CC24D;
  width: 105px;
  height: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

h2.title {
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 60px;
  color: #595959;
}

/*CSS Start*/
/*Header Menu*/
.ol-mobile-header .ol-logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ol-mobile-header .ol-logo-nav .logo img {
  max-width: 100%;
  width: 50px;
}

.ol-mobile-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ol-mobile-header .menu span {
  width: 35px;
  height: 3px;
  background: #7CC24D;
  display: inline-block;
  margin-bottom: 5px;
}

.logo-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.logo-menu .logo .img-logo {
  padding: 0.938rem 0;
}

.main-nav .nav, .footer-nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-nav .nav li, .footer-nav .nav li {
  list-style: none;
  padding: 1.875rem 1.25rem;
}

.main-nav .nav a, .footer-nav .nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #373737;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav .nav a:hover, .footer-nav .nav a:hover {
  color: #7CC24D;
}

.main-nav .nav a.current, .footer-nav .nav a.current {
  color: #7CC24D;
  font-weight: bold;
}

/*Hero*/
section.ol-hero {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

section.ol-hero .content-area {
  z-index: 3;
}

section.ol-hero .content-area h2.title, section.ol-hero .content-area h3.title {
  font-weight: 300;
  font-style: italic;
  font-size: 5.625rem;
  line-height: 108px;
  color: #FFFFFF;
  margin: 0;
}

section.ol-hero .content-area h3.title {
  margin-left: 82px;
}

section.ol-hero .content-area span {
  font-weight: normal;
}

section.ol-hero .slider-content-area {
  background: #fff;
  width: 435px;
  height: 320px;
  padding: 20px 34px 34px 34px;
  text-align: center;
  margin-top: 127px;
  margin-right: 289px;
}

section.ol-hero .slider-content-area h3.title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 36px;
  color: #7CC24D;
  margin: 0;
  margin-bottom: 35px;
}

section.ol-hero .slider-content-area p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}

section.ol-hero .slider-content-area .rm-button {
  max-width: 150px;
  width: 100%;
  display: block;
  margin-top: 47px !important;
  margin: 0 auto;
}

section.ol-hero .slider-content-area .rm-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  text-align: center;
  background-color: #373737;
  padding: 0.8125rem 1.5625rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

section.ol-hero .slider-content-area .rm-button a:hover {
  background-color: #7CC24D;
}

section.ol-hero .image.half-column {
  z-index: 3;
}

section.ol-hero .image.half-column .image-wrapper {
  position: relative;
  max-width: 90%;
}

section.ol-hero .image.half-column .image-wrapper img {
  width: 100%;
}

section.ol-hero .image.half-column .orbit-1 {
  content: "";
  position: absolute;
  border-radius: 840px;
  height: 840px;
  width: 840px;
  top: 0;
  right: 0;
  bottom: 0;
  left: -8%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

section.ol-hero .image.half-column .orbit-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #7CC24D;
  border-radius: 100px;
  top: 155px;
  left: 79px;
}

section.ol-hero .image.half-column .orbit-2 {
  content: "";
  position: absolute;
  border-radius: 1010px;
  height: 1010px;
  width: 1010px;
  top: 0;
  right: 0;
  bottom: 0;
  left: -18%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
}

section.ol-hero .image.half-column .orbit-2::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #7CC24D;
  border-radius: 100px;
  bottom: 300px;
  left: 32px;
}

section.ol-hero .image.half-column .orbit-3 {
  content: "";
  position: absolute;
  border-radius: 1180px;
  height: 1180px;
  width: 1180px;
  top: 0;
  right: 0;
  bottom: 0;
  left: -29%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: auto;
}

section.ol-hero .image.half-column .orbit-3::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #7CC24D;
  background: #ffffff !important;
  border-radius: 100px;
  top: 200px;
  right: 132px;
}

section.ol-hero .slider-thumb {
  width: 280px;
  height: 120px;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  z-index: 9;
}

section.ol-hero .slider-thumb .thumb-img img {
  margin: 0 8px;
  width: 96px;
  height: 90px;
}

section.ol-hero .box-nav {
  background: #ffffff;
  height: 60px;
  position: absolute;
  left: 587px;
  bottom: 389px;
  content: "";
  z-index: 3;
  margin: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

section.ol-hero .box-nav a {
  padding: 15px;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-hero .box-nav a:hover {
  background-color: #7CC24D;
}

section.ol-hero .box-nav a:active {
  background-color: #7CC24D;
}

section.ol-hero .box-nav img {
  max-width: 100%;
  display: block;
}

section.ol-hero .number-nav {
  width: 45px;
  height: 35px;
  position: absolute;
  left: 688px;
  bottom: 80px;
  z-index: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section.ol-hero .number-nav a {
  text-decoration: none;
}

section.ol-hero .number-nav .seperator {
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 36px;
  color: #ffffff;
}

section.ol-hero .number-nav .active-nav a {
  color: #7CC24D;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 36px;
}

section.ol-hero .number-nav .de-active-nav a {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
}

section.ol-hero .bullets {
  width: 160px;
  height: 20px;
  position: absolute;
  left: 660px;
  bottom: 50px;
  z-index: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.ol-hero .bullets::after {
  content: "";
  background: #ffffff;
  position: absolute;
  width: 95px;
  height: 2px;
  left: 38px;
  z-index: 0;
}

section.ol-hero .bullets a.active {
  background: url("../images/bullet-active.png");
  width: 21px;
  height: 21px;
}

section.ol-hero .bullets a {
  background: url("../images/bullet-disabled.png");
  width: 21px;
  height: 21px;
}

section.ol-hero .social {
  background: #ffffff;
  width: 60px;
  height: 290px;
  position: absolute;
  right: 50px;
  top: 50%;
  bottom: 0;
  content: "";
  z-index: 4;
  margin: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 10px 15px;
}

section.ol-hero .social .facebook {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-hero .social .twitter {
  background-position: 33.3%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-hero .social .twitter:hover {
  background-position: 33.3%;
}

section.ol-hero .social .youtube {
  background-position: 66.6%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-hero .social .youtube:hover {
  background-position: 66.6%;
}

section.ol-hero .social .reddit {
  background-position: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-hero .social .reddit:hover {
  background-position: 100%;
}

section.ol-hero .social a {
  background: url(../images/social-sprite.png);
  display: block;
  height: 30px;
  width: 30px;
  margin-bottom: 36px;
  margin-top: 18px;
}

section.ol-hero .social a:hover {
  background: url(../images/social-hover-sprite.png);
}

section.ol-hero .hero-wrapper {
  background-color: #7CC24D;
  position: relative;
}

section.ol-hero .hero-wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  background: #595959;
  height: 100%;
  z-index: 2;
  max-width: 24%;
}

section.ol-hero .hero-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  background: #373737;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 61%;
  z-index: 1;
}

section.ol-hero .hero-wrapper .container {
  padding: 100px 0;
}

/*Service Section*/
.ol-services {
  padding: 70px 0 65px 0;
  position: relative;
}

.ol-services span.service-left-bg, .ol-services span.service-right-bg {
  position: absolute;
}

.ol-services span.service-left-bg {
  top: -4%;
  z-index: 2;
}

.ol-services span.service-right-bg {
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 155px;
}

.ol-services .row-two-column.content {
  margin-top: 105px;
  margin-bottom: 80px;
}

.ol-services .services-wrapper .column-2 {
  margin-left: 70px;
}

.ol-services .services-wrapper h3.title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 36px;
  color: #595959;
  margin-bottom: 45px;
}

.ol-services .services-wrapper span.dropcap {
  font-style: italic;
  font-weight: bold;
  font-size: 6rem;
  line-height: 7.5rem;
  color: #7CC24D;
  margin-right: 10px;
}

.ol-services .services-wrapper p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  color: #595959;
  margin: 0;
  max-width: 650px;
}

.ol-services .services-wrapper .rm-button {
  max-width: 150px;
  width: 100%;
  display: block;
  max-width: 175px;
}

.ol-services .services-wrapper .rm-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  text-align: center;
  background-color: #373737;
  padding: 0.8125rem 1.5625rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.ol-services .services-wrapper .rm-button a:hover {
  background-color: #7CC24D;
}

/*Intro Section*/
.ol-intro {
  background: url(../images/intro-bg.png) #f5f5f5;
  padding: 65px 0 0 0;
  background-repeat: no-repeat;
  background-position: 52% 0;
  overflow: hidden;
}

.ol-intro .container {
  padding: 0;
}

.ol-intro .d-flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.ol-intro .img-section {
  position: relative;
}

.ol-intro .img-section .image-wrapper {
  z-index: 4;
}

.ol-intro .img-section .image-wrapper img {
  display: block;
  max-width: 100%;
}

.ol-intro .img-section .semi-circle-1 {
  width: 715px;
  height: 715px;
  position: absolute;
  background: #595959;
  z-index: 3;
  position: absolute;
  top: 108%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 715px;
}

.ol-intro .img-section .semi-circle-2 {
  width: 990px;
  height: 990px;
  position: absolute;
  background: #373737;
  z-index: 2;
  position: absolute;
  top: 108%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 990px;
}

.ol-intro .img-section .semi-circle-3 {
  width: 1140px;
  height: 1140px;
  position: absolute;
  background: rgba(55, 55, 55, 0.05);
  z-index: 1;
  position: absolute;
  top: 108%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1140px;
}

.text-section {
  padding-left: 180px;
}

.text-wrapper {
  position: relative;
  padding-left: 70px;
  padding-bottom: 12px;
  z-index: 4;
}

.text-wrapper::before {
  background: url(../images/tick.png);
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  left: 26px;
}

.text-wrapper h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.563rem;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 5px 0;
}

.text-wrapper p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  margin: 0;
  color: #ffffff;
}

h3.title {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 48px;
  color: #595959;
  margin: 0;
  margin-bottom: 76px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  color: #595959;
}

.border-wrapper {
  background-color: #7CC24D;
  position: relative;
  height: 25px;
  z-index: 2;
}

.border-wrapper::before {
  position: absolute;
  content: "";
  background: #595959;
  width: 27%;
  height: 100%;
  margin: auto;
  z-index: 1;
}

.border-wrapper::after {
  content: "";
  position: absolute;
  background: #373737;
  width: 57.5%;
  height: 100%;
}

/*About Section*/
.ol-about {
  padding: 70px 0 90px 0;
  position: relative;
}

.ol-about span.left-bg, .ol-about span.right-bg, .ol-about span.bottom-bg {
  position: absolute;
}

.ol-about span.left-bg {
  top: 4%;
}

.ol-about span.right-bg {
  top: -18%;
  right: 0;
  z-index: 2;
}

.ol-about span.bottom-bg {
  bottom: 0;
  right: 0;
}

.ol-about .about-wrapper .content {
  width: 1200px;
  margin: 0 auto;
}

.ol-about .about-wrapper p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  color: #595959;
}

/*Dietician Section*/
section.ol-dieticians {
  background: url("../images/cta-dieticians-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 85px 0;
}

section.ol-dieticians .container {
  padding: 0;
}

section.ol-dieticians h4.sub-title {
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 48px;
  color: #ffffff;
  width: 375px;
  margin: 0;
}

section.ol-dieticians h2.title {
  font-weight: 300;
  font-style: normal;
  font-size: 5.625rem;
  line-height: 108px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #7CC24D;
  margin-bottom: 35px;
  margin-top: 0;
}

section.ol-dieticians .description p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  color: #000000;
}

section.ol-dieticians .rm-button {
  max-width: 150px;
  width: 100%;
  display: block;
  margin-top: 50px;
}

section.ol-dieticians .rm-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  text-align: center;
  background-color: #373737;
  padding: 0.8125rem 1.5625rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

section.ol-dieticians .rm-button a:hover {
  background-color: #7CC24D;
}

/*Print Section*/
.ol-print {
  padding: 100px 0;
  background: url("../images/print-center-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.ol-print span {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
}

.ol-print .ol-print-wrapper {
  padding: 0 55px 0 28px;
}

.ol-print .ol-print-wrapper .description {
  min-height: 215px;
  margin-bottom: 30px;
}

.ol-print .ol-print-wrapper h3.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 48px;
  color: #7CC24D;
  margin: 0 0 34px 0;
}

.ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
  font-style: normal;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 36px;
  color: #595959;
}

.ol-print .ol-print-wrapper ul {
  list-style: none;
  padding: 0;
}

.ol-print .ol-print-wrapper .rm-button {
  max-width: 150px;
  width: 100%;
  display: block;
  width: 145px;
}

.ol-print .ol-print-wrapper .rm-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  text-align: center;
  background-color: #373737;
  padding: 0.8125rem 1.5625rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.ol-print .ol-print-wrapper .rm-button a:hover {
  background-color: #7CC24D;
}

.ol-print .ol-print-wrapper .half-column.right {
  margin-left: 245px;
}

/*Booking Section*/
section.ol-booking {
  background: url("../images/cta-booking-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

section.ol-booking span {
  position: absolute;
  right: 0;
  top: -15%;
}

section.ol-booking .container {
  padding: 50px 0;
}

section.ol-booking .form-section {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
}

section.ol-booking h4.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #373737;
  margin: 0;
}

section.ol-booking h2.title {
  font-style: normal;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 72px;
  color: #373737;
  margin: 0;
  margin-bottom: 40px;
}

section.ol-booking input[type="text"], section.ol-booking input[type="email"], section.ol-booking input[type="number"], section.ol-booking input[type="textarea"], section.ol-booking textarea {
  padding: 25px 0px 25px 40px;
  margin: 10px 0;
  width: 100%;
  background: transparent;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 24px;
  color: #595959;
}

section.ol-booking input[type="text"]::-webkit-input-placeholder, section.ol-booking input[type="email"]::-webkit-input-placeholder, section.ol-booking input[type="number"]::-webkit-input-placeholder, section.ol-booking input[type="textarea"]::-webkit-input-placeholder, section.ol-booking textarea::-webkit-input-placeholder {
  font-style: normal;
}

section.ol-booking input[type="text"]:-ms-input-placeholder, section.ol-booking input[type="email"]:-ms-input-placeholder, section.ol-booking input[type="number"]:-ms-input-placeholder, section.ol-booking input[type="textarea"]:-ms-input-placeholder, section.ol-booking textarea:-ms-input-placeholder {
  font-style: normal;
}

section.ol-booking input[type="text"]::-ms-input-placeholder, section.ol-booking input[type="email"]::-ms-input-placeholder, section.ol-booking input[type="number"]::-ms-input-placeholder, section.ol-booking input[type="textarea"]::-ms-input-placeholder, section.ol-booking textarea::-ms-input-placeholder {
  font-style: normal;
}

section.ol-booking input[type="text"]::placeholder, section.ol-booking input[type="email"]::placeholder, section.ol-booking input[type="number"]::placeholder, section.ol-booking input[type="textarea"]::placeholder, section.ol-booking textarea::placeholder {
  font-style: normal;
}

section.ol-booking textarea {
  height: 145px;
  background: transparent;
}

section.ol-booking input[type="submit"] {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  text-align: center;
  background-color: #373737;
  padding: 0.8125rem 1.5625rem;
  border: 0;
  display: block;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.ol-booking input[type="submit"]:hover {
  background-color: #7CC24D;
}

/*Footer*/
footer {
  margin: 0 auto;
}

.content-widget-area.half-column {
  width: 55%;
}

.map.half-column {
  width: 45%;
}

.footer-wrapper {
  background-color: #7CC24D;
  position: relative;
}

.footer-wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  background: #595959;
  height: 100%;
  z-index: 1;
  max-width: 24%;
}

.footer-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  background: #373737;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 54%;
}

.footer-wrapper .container {
  padding: 0;
}

.footer-nav .nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-nav .nav li {
  padding: 2.1rem 0.938rem;
}

.footer-nav .nav a {
  font-weight: 300;
  color: #ffffff;
}

.content-widget-area {
  z-index: 1;
}

.content-widget-area .section-2 {
  padding: 0.938rem 0 0 0;
  margin-top: 5px;
}

.footer-logo-area {
  padding-right: 8.18rem;
}

.footer-logo-area .logo {
  margin-bottom: 34px;
}

.footer-logo-area .description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.footer-logo-area .description p {
  margin: 0;
  color: #ffffff;
}

h3.widget-title {
  color: #ffffff;
  font-size: 1.25rem;
}

.contact {
  max-width: 330px;
  width: 100%;
}

.contact p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
  margin: 0;
  margin-bottom: 4px;
}

.contact p.phone-tel {
  margin-top: 24px;
}

.contact p.address {
  max-width: 195px;
  width: 100%;
}

.contact p.email {
  margin-bottom: 0;
}

.contact a {
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.copyright p {
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.copyright a {
  text-decoration: none;
  color: #7CC24D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.copyright a:hover {
  color: #ffffff;
}

.map {
  padding: 3rem 2.25rem;
}

.map .map-wrapper {
  position: relative;
}

.map .map-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map .map-wrapper:after {
  content: '';
  display: block;
  padding-bottom: 66%;
}

/*Media Queries*/
@media (max-width: 1919px) {
  /*Service Section*/
  .ol-services {
    max-width: 1919px;
  }
  .ol-services span.service-right-bg {
    right: 10%;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
    margin-top: 30px;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 2.25rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    font-size: 4.6rem;
    line-height: 3rem;
  }
  .ol-services .services-wrapper p {
    max-width: 100%;
    line-height: 26px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1919px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 5.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1919px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2.5rem;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
}

@media (max-width: 1680px) {
  /*Service Section*/
  .ol-services {
    max-width: 1680px;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
    margin-top: 30px;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 2.25rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    font-size: 4.6rem;
    line-height: 3rem;
  }
  .ol-services .services-wrapper p {
    max-width: 100%;
    line-height: 26px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1680px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1680px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2.5rem;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
}

@media (max-width: 1440px) {
  /*Service Section*/
  .ol-services {
    max-width: 1440px;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .section-title h2.title {
    margin-bottom: 30px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 2rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    font-size: 4.6rem;
    line-height: 3rem;
  }
  .ol-services .services-wrapper p {
    max-width: 650px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1440px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 5.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1440px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2.5rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
}

@media (max-width: 1366px) {
  /*Service Section*/
  .ol-services {
    max-width: 1366px;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .section-title h2.title {
    margin-bottom: 30px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 1.75rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .ol-services .services-wrapper p {
    max-width: 650px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1366px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 5.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1366px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
}

@media (max-width: 1280px) {
  /*Service Section*/
  .ol-services {
    max-width: 1280px;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .section-title h2.title {
    margin-bottom: 30px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 1.75rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .ol-services .services-wrapper p {
    max-width: 650px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1280px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 4.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1280px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 1280px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: 50%;
  }
  .ol-booking .ol-booking-wrapper .form-section {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  /*Service Section*/
  .ol-services {
    max-width: 1024px;
  }
  .ol-services .services-wrapper {
    padding: 0 20px;
  }
  .ol-services .services-wrapper .section-title h2.title {
    margin-bottom: 30px;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    font-size: 1.75rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .ol-services .services-wrapper p {
    max-width: 650px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 1024px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 4.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 1024px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .half-column.right {
    margin-left: 245px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: 170px;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 1024px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}

@media (max-width: 990px) {
  /*Service Section*/
  .ol-services {
    max-width: 990px;
  }
  .ol-services .services-wrapper {
    text-align: center;
    padding: 0 20px;
  }
  .ol-services .services-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column {
    width: 100%;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .ol-services .services-wrapper p {
    max-width: 990px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*About Section*/
  .ol-about {
    max-width: 990px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /* Dieticians Section*/
  section.ol-dieticians {
    padding: 40px;
    background-size: cover;
  }
  section.ol-dieticians h2.title {
    font-size: 4.25rem;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 990px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column {
    width: 100%;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column.right {
    margin-left: 0;
    margin-top: 40px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: auto;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 990px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}

@media (max-width: 767px) {
  /*Service Section*/
  .ol-services {
    max-width: 767px;
  }
  .ol-services .services-wrapper {
    text-align: center;
    padding: 0 20px;
  }
  .ol-services .services-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column {
    width: 100%;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .ol-services .services-wrapper p {
    max-width: 767px;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*Intro Section*/
  .ol-intro {
    overflow: hidden;
    background: #f5f5f5;
    padding: 0;
  }
  .ol-intro .border-wrapper {
    height: 15px;
  }
  .ol-intro .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-intro .row-two-column .img-section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .ol-intro .row-two-column .img-section .text-wrapper {
    padding: 12px 0px 12px 80px;
    width: 100%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper::before {
    left: 30px;
    top: 35%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper h3 {
    font-size: 1.25rem;
  }
  .ol-intro .row-two-column .img-section .text-wrapper p {
    font-size: 1.2rem;
  }
  .ol-intro .row-two-column .text-section {
    width: 100%;
    padding: 20px;
  }
  .ol-intro .row-two-column .text-section h3.title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: #595959;
    margin: 0;
  }
  /*About Section*/
  .ol-about {
    max-width: 767px;
  }
  .ol-about span.right-bg {
    top: -95px;
    right: -10px;
  }
  .ol-about span.right-bg img {
    width: 150px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /*Dieticians Section*/
  .ol-dieticians {
    background-position: 100% !important;
    padding: 30px 0 !important;
    max-width: 767px;
    text-align: center;
    position: relative;
    background-size: cover !important;
    z-index: 0;
    position: relative;
  }
  .ol-dieticians:before {
    content: "";
    background: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column {
    width: 100%;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column h2.title {
    font-size: 2.25rem;
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column p {
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column.blank {
    width: auto;
  }
  .ol-dieticians h4.sub-title {
    font-size: 2.25rem !important;
    margin: 0 auto !important;
    color: #ffffff !important;
  }
  .ol-dieticians .rm-button {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 767px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column {
    width: 100%;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column.right {
    margin-left: 0;
    margin-top: 40px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: auto;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 767px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}

@media (max-width: 640px) {
  /*Service Section*/
  .ol-services {
    max-width: 640px;
  }
  .ol-services .services-wrapper {
    text-align: center;
    padding: 0 20px;
  }
  .ol-services .services-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column {
    width: 100%;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 60px;
  }
  /*Intro Section*/
  .ol-intro {
    overflow: hidden;
    background: #f5f5f5;
    padding: 0;
  }
  .ol-intro .border-wrapper {
    height: 15px;
  }
  .ol-intro .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-intro .row-two-column .img-section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .ol-intro .row-two-column .img-section .image-wrapper {
    width: 100%;
  }
  .ol-intro .row-two-column .img-section .image-wrapper img {
    display: block;
    width: 100%;
    max-width: 350px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-1 {
    width: 500px;
    height: 500px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-2 {
    width: 650px;
    height: 650px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-3 {
    width: 785px;
    height: 785px;
  }
  .ol-intro .row-two-column .img-section .text-wrapper {
    padding: 12px 0px 12px 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
  }
  .ol-intro .row-two-column .img-section .text-wrapper::before {
    left: 30px;
    top: 35%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper h3 {
    font-size: 1.25rem;
  }
  .ol-intro .row-two-column .img-section .text-wrapper p {
    font-size: 1.2rem;
  }
  .ol-intro .row-two-column .text-section {
    width: 100%;
    padding: 20px;
  }
  .ol-intro .row-two-column .text-section h3.title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: #595959;
    margin: 0;
  }
  /*About Section*/
  .ol-about {
    max-width: 640px;
  }
  .ol-about span.right-bg {
    top: -95px;
    right: -10px;
  }
  .ol-about span.right-bg img {
    width: 150px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /*Dieticians Section*/
  .ol-dieticians {
    background-position: 100% !important;
    padding: 30px 0 !important;
    max-width: 640px;
    text-align: center;
    position: relative;
    background-size: cover !important;
    z-index: 0;
    position: relative;
  }
  .ol-dieticians:before {
    content: "";
    background: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column {
    width: 100%;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column h2.title {
    font-size: 2.25rem;
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column p {
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column.blank {
    width: auto;
  }
  .ol-dieticians h4.sub-title {
    font-size: 2.25rem !important;
    margin: 0 auto !important;
    color: #ffffff !important;
  }
  .ol-dieticians .rm-button {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 640px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column {
    width: 100%;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column.right {
    margin-left: 0;
    margin-top: 40px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: auto;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 640px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}

@media (max-width: 480px) {
  /*Service Section*/
  .ol-services {
    max-width: 480px;
  }
  .ol-services .services-wrapper {
    text-align: center;
    padding: 0 18px;
  }
  .ol-services .services-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column {
    width: 100%;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 40px;
  }
  /*Intro Section*/
  .ol-intro {
    overflow: hidden;
    background: #f5f5f5;
    padding: 0;
  }
  .ol-intro .border-wrapper {
    height: 15px;
  }
  .ol-intro .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-intro .row-two-column .img-section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .ol-intro .row-two-column .img-section .img-wrapper {
    margin: 0 auto;
  }
  .ol-intro .row-two-column .img-section .semi-circle-1 {
    width: 900px;
    height: 900px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-2 {
    width: 1100px;
    height: 1100px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-3 {
    width: 1250px;
    height: 1250px;
  }
  .ol-intro .row-two-column .img-section .text-wrapper {
    padding: 12px 0px 12px 80px;
    width: 100%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper::before {
    left: 30px;
    top: 35%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper h3 {
    font-size: 1.25rem;
  }
  .ol-intro .row-two-column .img-section .text-wrapper p {
    font-size: 1.2rem;
  }
  .ol-intro .row-two-column .text-section {
    width: 100%;
    padding: 20px;
  }
  .ol-intro .row-two-column .text-section h3.title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: #595959;
    margin: 0;
  }
  /*About Section*/
  .ol-about {
    max-width: 480px;
  }
  .ol-about span.right-bg {
    top: -95px;
    right: -10px;
  }
  .ol-about span.right-bg img {
    width: 150px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /*Dieticians Section*/
  .ol-dieticians {
    background-position: 100% !important;
    padding: 30px 0 !important;
    max-width: 480px;
    text-align: center;
    position: relative;
    background-size: cover !important;
    z-index: 0;
    position: relative;
  }
  .ol-dieticians:before {
    content: "";
    background: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column {
    width: 100%;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column h2.title {
    font-size: 2.25rem;
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column p {
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column.blank {
    width: auto;
  }
  .ol-dieticians h4.sub-title {
    font-size: 2.25rem !important;
    width: auto !important;
    color: #ffffff !important;
  }
  .ol-dieticians .rm-button {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 480px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column {
    width: 100%;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column.right {
    margin-left: 0;
    margin-top: 40px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: auto;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 480px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}

@media (max-width: 320px) {
  /*Service Section*/
  .ol-services {
    max-width: 320px;
  }
  .ol-services .services-wrapper {
    text-align: center;
    padding: 0 15px;
  }
  .ol-services .services-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-services .services-wrapper .row-two-column.content {
    margin: 0;
  }
  .ol-services .services-wrapper span.dropcap {
    margin: 0;
  }
  .ol-services .services-wrapper .column-2 {
    margin-left: 0;
  }
  .ol-services .services-wrapper .half-column {
    width: 100%;
  }
  .ol-services .services-wrapper .half-column h3.title {
    margin-bottom: 30px;
    text-align: center;
  }
  .ol-services .services-wrapper .half-column h3.title span.dropcap {
    display: block;
  }
  .ol-services .services-wrapper > :last-child {
    margin-top: 40px;
  }
  /*Intro Section*/
  .ol-intro {
    overflow: hidden;
    background: #f5f5f5;
    padding: 0;
  }
  .ol-intro .border-wrapper {
    height: 15px;
  }
  .ol-intro .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-intro .row-two-column .img-section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .ol-intro .row-two-column .img-section .img-wrapper {
    margin: 0 auto;
  }
  .ol-intro .row-two-column .img-section .semi-circle-1 {
    width: 700px;
    height: 700px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-2 {
    width: 850px;
    height: 850px;
  }
  .ol-intro .row-two-column .img-section .semi-circle-3 {
    width: 945px;
    height: 945px;
  }
  .ol-intro .row-two-column .img-section .text-wrapper {
    padding: 12px 0px 12px 80px;
  }
  .ol-intro .row-two-column .img-section .text-wrapper::before {
    left: 30px;
    top: 35%;
  }
  .ol-intro .row-two-column .img-section .text-wrapper h3 {
    font-size: 1.25rem;
  }
  .ol-intro .row-two-column .img-section .text-wrapper p {
    font-size: 1.2rem;
  }
  .ol-intro .row-two-column .text-section {
    width: 100%;
    padding: 20px;
  }
  .ol-intro .row-two-column .text-section h3.title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: #595959;
    margin: 0;
  }
  /*About Section*/
  .ol-about {
    max-width: 320px;
  }
  .ol-about span.right-bg {
    top: -95px;
    right: -10px;
  }
  .ol-about span.right-bg img {
    width: 150px;
  }
  .ol-about .about-wrapper {
    text-align: center;
  }
  .ol-about .about-wrapper .content {
    width: 100%;
  }
  /*Dieticians Section*/
  .ol-dieticians {
    background-position: 100% !important;
    padding: 30px 0 !important;
    max-width: 320px;
    text-align: center;
    position: relative;
    background-size: cover !important;
    z-index: 0;
    position: relative;
  }
  .ol-dieticians:before {
    content: "";
    background: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: -1;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column {
    width: 100%;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column h2.title {
    font-size: 2.25rem;
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column p {
    color: #ffffff;
  }
  .ol-dieticians .ol-dietitians-wrapper .half-column.blank {
    width: auto;
  }
  .ol-dieticians h4.sub-title {
    font-size: 2.25rem !important;
    width: auto !important;
    color: #ffffff !important;
  }
  .ol-dieticians .rm-button {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  /*PrInt Section*/
  .ol-print {
    max-width: 320px;
  }
  .ol-print .ol-print-wrapper {
    padding: 0 20px 0 20px;
  }
  .ol-print .ol-print-wrapper .row-two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column {
    width: 100%;
  }
  .ol-print .ol-print-wrapper .row-two-column .half-column.right {
    margin-left: 0;
    margin-top: 40px;
  }
  .ol-print .ol-print-wrapper h3.title {
    font-size: 2rem;
    text-align: center;
  }
  .ol-print .ol-print-wrapper .description {
    margin-bottom: 0;
    min-height: auto;
  }
  .ol-print .ol-print-wrapper p, .ol-print .ol-print-wrapper ul {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
  }
  .ol-print .ol-print-wrapper .rm-button {
    margin: 0 auto;
  }
  .ol-print .ol-print-wrapper .rm-button a {
    display: block;
  }
  /*Booking Section*/
  .ol-booking {
    max-width: 320px;
    padding: 0 20px;
  }
  .ol-booking h2.title {
    font-size: 2.75rem !important;
  }
  .ol-booking input[type="submit"] {
    margin: 0 auto !important;
  }
  .ol-booking .ol-booking-wrapper .half-column.blank {
    width: auto;
  }
}
/*# sourceMappingURL=custom.css.map */