    /*Fonts*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

    /*Font Variable*/
    $lato: 'Lato', sans-serif;


    /*Color Variable*/

    $primaryColor: #7CC24D;
    $secondaryColor: #373737;
    $textColor: #595959;
    $blackColor: #000000;
    $whiteColor: #ffffff;

    * {
        box-sizing: border-box;
    }

    body, html{
        font-size: 16px;
        font-family: $lato;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        padding: 0 0.938rem;
        width: 100%;
        max-width: 1600px;
    }

    .d-none {display: none;}
    .d-flex {display: flex;}
    .row-one-column{
        display: flex;
        justify-content: center;
    }
    .row-two-column{
        display: flex;
        justify-content: space-between;
    }

    .half-column {
        width: 50%;
    }
    header, footer, section {max-width: 1920px;
    margin: 0 auto;}
        @mixin button {
            
            max-width: 150px;
            width: 100%;
            display: block;
            

            a{
            color: $whiteColor;
            text-decoration: none;  
            font-size: 1.25rem;
            font-weight: 300;
            font-style: normal;
            line-height: 1.5rem;
            text-align: center;
            background-color: $secondaryColor;
            padding: 0.8125rem 1.5625rem;
            transition: 0.4s;
            display: block;
            &:hover {
                background-color: $primaryColor;
                
            }
            
            }
        }
@mixin circle-green {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: $primaryColor;
}

    @mixin dropcap {

        font-style: italic;
        font-weight: bold;
        font-size: 6rem;
        line-height: 7.5rem;
        color: $primaryColor;
        margin-right: 10px;

    }

    .section-title{
        position: relative;

        &:before
        {
            content: "";
            position: absolute;
            background-color: $primaryColor;
            width: 105px;
            height: 5px;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin: 0 auto;

        }
    }
    h2.title{
            
        font-style: normal;
        font-weight: bold;
        font-size: 3.125rem;
        line-height: 60px;
        color: $textColor
            }
    /*CSS Start*/

    /*Header Menu*/

    .ol-mobile-header {
        .ol-logo-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
            img {
                max-width: 100%;
                width: 50px;
            }
        }
        }
        .menu {
            display: flex;
            flex-direction: column;
            
            span {
                width: 35px;
                height: 3px;
                background: $primaryColor;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }

    .logo-menu {
        
        justify-content: space-between;
        padding: 0;
        
        .logo {
        
            .img-logo {padding: 0.938rem 0;}
        }
    

    }

    .main-nav .nav, .footer-nav .nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: end;
        li {
            list-style: none;
            padding: 1.875rem 1.25rem;
            
        }
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 1.25rem;
            line-height: 1.5rem;
            text-decoration: none;
            color: $secondaryColor;
            transition: 0.3s;

            &:hover {
                color: $primaryColor;
            }
        }
        a.current {
            color: $primaryColor;
            font-weight: bold;
        }
    }









    /*Hero*/
    section.ol-hero {
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        

        .content-area {
            z-index: 3;
            
            h2.title, h3.title {
                font-weight: 300;
                font-style: italic;
                font-size: 5.625rem;
                line-height: 108px;
                color: #FFFFFF;
                margin: 0;
            }
            h3.title {
                margin-left: 82px;
            }
            span {
                font-weight: normal;
            }
        }
        .slider-content-area{
            background: #fff;
    width: 435px;
    height: 320px;
    padding: 20px 34px 34px 34px;
    text-align: center;
    margin-top: 127px;
    margin-right: 289px;

        
            h3.title {              
font-style: normal;
font-weight: bold;
font-size: 1.875rem;
line-height: 36px;
color: $primaryColor;
margin: 0;
margin-bottom: 35px;

            }
            p {
                
font-style: normal;
font-weight: 300;
font-size: 1.25rem;
line-height: 24px;
text-align: center;
color: $blackColor;
margin: 0;
            }
            .rm-button {
                @include button();
                
                margin-top: 47px !important;
    margin: 0 auto;
            }
        }
        .image.half-column {
            z-index: 3;
            
            .image-wrapper {
                position: relative;
                max-width: 90%;
                img {
                    width: 100%;
                }
            }
            .orbit-1 {
                content: "";
    position: absolute;
    border-radius: 840px;
    height: 840px;
    width: 840px;
    top: 0;
    right: 0;
    bottom: 0;
    left: -8%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;;
    margin: auto;

    &::before {@include circle-green();
        border-radius: 100px;
        top: 155px;
        left: 79px;
    }



            }
            .orbit-2 {
                content: "";
    position: absolute;
    border-radius: 1010px;
    height: 1010px;
    width: 1010px;
    top: 0;
    right: 0;
    bottom: 0;
    left: -18%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: auto;

    &::before {@include circle-green();
        border-radius: 100px;
        bottom: 300px;
    left: 32px;

    }
            }
            .orbit-3 {
                content: "";
    position: absolute;
    border-radius: 1180px;
    height: 1180px;
    width: 1180px;
    top: 0;
    right: 0;
    bottom: 0;
    left: -29%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: auto;

    &::before {
        @include circle-green();
        background: $whiteColor !important;
        border-radius: 100px;
        top: 200px;
    right: 132px;
        }
    
            }
        }
        .slider-thumb {
            width: 280px;
    height: 120px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: 9;
            .thumb-img {
                img {
                    margin:0 8px;
                    width: 96px;
                    height: 90px;
                }
            }
        }
        .box-nav {
            background: #ffffff;
            height: 60px;
            position: absolute;
            left: 587px;
            bottom: 389px;
            content: "";
            z-index: 3;
            margin: 0;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            a {
                padding: 15px;
    display: block;
    transition: 0.4s;
    &:hover {
        background-color: $primaryColor;
    }
    &:active {
        background-color: $primaryColor;
    }
            }
            img {
                max-width: 100%;
                display: block;
               
               
            }
        }
        .number-nav {
            width: 45px;
    height: 35px;
    position: absolute;
    left: 688px;
    bottom: 80px;
    z-index: 3;
    justify-content: space-around;
    align-items: baseline;
    a {
        text-decoration: none;
        
    }
    .seperator {
        font-style: normal;
        font-weight: normal;
        font-size: 1.875rem;
        line-height: 36px; 
        color: $whiteColor; 
    }
    .active-nav{
        a {
            color: $primaryColor;  
            font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 36px;       
        }
    }
    .de-active-nav{
        a {
            color: $whiteColor;     
            font-style: normal;
font-weight: 300;
font-size: 1.25rem;
line-height: 24px;       
        }
    }
        }
        
        .bullets {
            width: 160px;
            height: 20px;
            position: absolute;
            left: 660px;
            bottom: 50px;
            z-index: 3;
            justify-content: space-around;
            align-items: center;
            &::after {
                content: "";
                background: $whiteColor;
                position: absolute;
                width: 95px;
                height: 2px;
                left: 38px;
                z-index: 0;
            }
        a.active {
            background: url('../images/bullet-active.png');
            width: 21px;
            height: 21px;
        }
        a {
            background: url('../images/bullet-disabled.png');
            width: 21px;
            height: 21px;
        }
    }

        .social {
            background: $whiteColor;
        width: 60px;
        height: 290px;
        position: absolute;
        right: 50px;
        top: 50%;
        bottom: 0;
        content: "";
        z-index: 4;
        margin: 0;
        transform: translate(0, -50%);
        padding: 10px 15px;
        .facebook {
            transition: 0.4s;
        }
        .twitter {
            background-position: 33.3%;
            transition: 0.4s;

            &:hover {
                background-position: 33.3%;
            }
        }
        .youtube {
            background-position: 66.6%;
            transition: 0.4s;
            &:hover {
                background-position: 66.6%;
            }
        }
        .reddit {
            background-position: 100%;
            transition: 0.4s;
            &:hover {
                background-position: 100%;
            }
        }
        a {
            background: url(../images/social-sprite.png);
        display: block;
        height: 30px;
        width: 30px;
        margin-bottom: 36px;
        margin-top: 18px;
       &:hover {
        background: url(../images/social-hover-sprite.png);
        
       }
        }
        
        
        }
    
        
        
        .hero-wrapper {
            background-color: $primaryColor;
            position: relative;
        
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            background: $textColor;
            height: 100%;
            z-index: 2;
            max-width: 24%;
        }
        
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            background: $secondaryColor;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width:61%;
            z-index: 1;
        }
        .container{
            padding: 100px 0;
        }
        }
        
    }


    /*Service Section*/
    .ol-services {
        padding: 70px 0 65px 0;
        position: relative;
        span.service-left-bg, span.service-right-bg  {
            position: absolute;
        }
        span.service-left-bg {
            top: -4%;
            z-index: 2;
        }
        span.service-right-bg {
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
            height: 155px;
        }
        .row-two-column.content {
            margin-top: 105px;
            margin-bottom: 80px;
        }
    .services-wrapper{
        .column-2 {
            margin-left: 70px;
        }
    h3.title {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 1.875rem;
        line-height: 36px;    
        color: $textColor;
        margin-bottom: 45px;
    }
    span.dropcap{
    @include dropcap();
    }
    p{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 24px;    
        color: $textColor;
        margin:0;
        max-width: 650px;
    }
    .rm-button {
        @include button();
        max-width: 175px;
    }
    }
    }
    /*Intro Section*/
    .ol-intro {
        background: url(../images/intro-bg.png) #f5f5f5;
        padding: 65px 0 0 0;
        background-repeat: no-repeat;
        background-position: 52% 0;
        overflow: hidden;
        .container {
            padding: 0;
        }
        .d-flex {
            align-items: end;
        }
        .img-section {
            position: relative ;
            .image-wrapper {
                z-index: 4;
                img {
                    display: block;
    max-width: 100%;
                }
            }
            .semi-circle-1 {
    width: 715px;
    height: 715px;
    position: absolute;
    background: $textColor;
    z-index: 3;
    position: absolute;
    top: 108%;
    left: 47%;
    transform: translate(-50%, -50%);
    border-radius: 715px;
}

.semi-circle-2 {
    width: 990px;
height: 990px;
position: absolute;
background: $secondaryColor;
z-index: 2;
position: absolute;
top: 108%;
left: 47%;
transform: translate(-50%, -50%);
border-radius: 990px;
}

.semi-circle-3 {
    width: 1140px;
height: 1140px;
position: absolute;
background: rgba(55, 55, 55, 0.05);
z-index: 1;
position: absolute;
top: 108%;
left: 47%;
transform: translate(-50%, -50%);
border-radius: 1140px;
}

            }


        }
        .text-section {
            padding-left: 180px;
        }
        .text-wrapper {
            position: relative;
            padding-left: 70px;
            padding-bottom: 12px;
            z-index: 4;
            &::before 
                {
                    background: url(../images/tick.png);
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    content: "";
                    background-repeat: no-repeat;
                    left: 26px;
                }
            
            h3 {
            font-style: normal;
    font-weight: bold;
    font-size: 1.563rem;
    line-height: 30px;
    color: $whiteColor;
    margin: 0 0 5px 0;}
    p {
        
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0;
    color: $whiteColor;
    }
        }
        h3.title {
            font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 48px;
    color: $textColor;
    margin: 0;
    margin-bottom: 76px;    }
        p {
            
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: $textColor
        }
        .border-wrapper {
            background-color: $primaryColor;
            position: relative;
            height: 25px;
            z-index: 2;

            &::before {
                position: absolute;
        content: "";
        background: $textColor;
        width: 27%;
        height: 100%;
        margin: auto;
        z-index: 1;
            }
            &::after{
                content: "";
                position: absolute;
                background: $secondaryColor;
                width: 57.5%;
                height: 100%;

            }
        }
    


    /*About Section*/
    .ol-about {
        padding: 70px 0 90px 0;
        position: relative;
        span.left-bg, span.right-bg, span.bottom-bg {
            position: absolute;
        }
        span.left-bg {
            top: 4%;
        }
        span.right-bg {
            top: -18%;
        right: 0;
        z-index: 2;
        }
        span.bottom-bg {
            bottom: 0;
        right: 0;
        }
        
    .about-wrapper {
        .content {
            width: 1200px;
            margin: 0 auto;
        }

    p {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
    }
    }
    }


    /*Dietician Section*/

    section.ol-dieticians {
        background: url('../images/cta-dieticians-bg.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 85px 0;
    .container {padding: 0;}
    h4.sub-title {
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 48px;
    color: $whiteColor;
    width: 375px;
    margin: 0;
        }

        h2.title {
    font-weight: 300;
    font-style: normal;
    font-size: 5.625rem;
    line-height: 108px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $primaryColor;
    margin-bottom: 35px;
    margin-top: 0;
    }
        
        .description p{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: $blackColor;
        }
        .rm-button {
            @include button();
            margin-top: 50px;
        }
    }

    /*Print Section*/
    .ol-print {
        padding: 100px 0;
        background: url('../images/print-center-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    span {
        position: absolute;
        top: 45px;
        bottom: 0;
        left: 0;
    }

    .ol-print-wrapper{
        
            padding: 0 55px 0 28px;
        
        .description {
            min-height: 215px;
            margin-bottom: 30px;
        }
        h3.title {
            font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 48px;
    color: $primaryColor;
    margin: 0 0 34px 0;

        }
    p, ul {
        font-style: normal;
        font-weight: 300;
        font-size: 1.875rem;
        line-height: 36px;
        color: $textColor;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        .rm-button {
            @include button();
            width: 145px;
        }
        .half-column.right {
            margin-left: 245px;
        }
    }
    }



    /*Booking Section*/
    section.ol-booking{
        background: url('../images/cta-booking-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        span{
            position: absolute;
            right: 0;
            top: -15%;
        }
        .container{
            padding: 50px 0;
        }
        .form-section {
            width: 100%;
            max-width: 610px;
            margin: 0 auto;
        }
        h4.sub-title {
            font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: $secondaryColor;
        margin: 0;
        }
        h2.title {
            font-style: normal;
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 72px;
    color: $secondaryColor;
    margin: 0;
    margin-bottom: 40px;
        }
    
        
        input[type="text"], input[type="email"], input[type="number"], input[type="textarea"], textarea {
                padding: 25px 0px 25px 40px;
                margin: 10px 0;
                width: 100%;
                background: transparent;
                border: 1px solid #000;
                font-family: $lato;
                font-weight: 300;
                font-size: 1.25rem;
                line-height: 24px;
                color: $textColor;
            &::placeholder {
                font-style: normal;
               
            }
        }
        textarea {height: 145px;background: transparent;}
        input[type="submit"] {
            font-family: $lato;
            color: #ffffff;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 300;
            font-style: normal;
            line-height: 1.5rem;
            text-align: center;
            background-color: #373737;
            padding: 0.8125rem 1.5625rem;
            border: 0;
            display: block;
            margin-right: 0;
            margin-left: auto;
            margin-top: 20px;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                background-color: $primaryColor;
            }
        }
    
    }


    /*Footer*/
    footer {
        margin: 0 auto;}

    .content-widget-area.half-column {
        width: 55%;
    }
    .map.half-column {
        width: 45%;
    }

    .footer-wrapper {
        background-color: $primaryColor;
        position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        background: $textColor;
        height: 100%;
        z-index: 1;
        max-width: 24%;
    }

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        background: $secondaryColor;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width:54%;
    }
    .container{
        padding: 0;
    }
    }







    .footer-nav .nav{
        justify-content: start;
        li{
            padding: 2.1rem 0.938rem;
        }
        a {
            font-weight: 300;
            color: $whiteColor;
        }
    }

    .content-widget-area {z-index: 1;}
    .content-widget-area .section-2 {
        padding: 0.938rem 0 0 0;
        margin-top: 5px;
    }
    .footer-logo-area {
        padding-right: 8.18rem;
        .logo {
            margin-bottom: 34px;
        }
    .description {
        
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5rem;
        p {
            margin: 0;
            color: $whiteColor;
        }
    }
}
    h3.widget-title {
        color: $whiteColor;
        font-size: 	1.25rem;
    }


    .contact 
        {
        max-width: 330px;
        width: 100%;
    p {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: $whiteColor;
        margin: 0;
        margin-bottom: 4px;
    }
    
        p.phone-tel {
        margin-top: 24px;
    }
    p.address {
        max-width: 195px;
        width: 100%;
    }
    p.email {
        margin-bottom: 0;
    }
    
        a {
            color: $whiteColor;
            text-decoration: none;
        }
    }
    

    .copyright
    {
        position: absolute;
        z-index: 1;
        bottom: 0;
    p {
        font-size: 1.125rem;
        line-height: 22px;
        font-weight: 300;
        color: $whiteColor;}
    a {
        text-decoration: none;
        color: $primaryColor;
        transition: 0.3s;
        &:hover {
            color: $whiteColor;
        }
    }
    }
    .map {
        padding: 3rem 2.25rem;

    .map-wrapper {
        position: relative;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &:after {
        content: '';
        display: block;
        padding-bottom: 66%;
    }
    }
    }


/*Media Queries*/    


@media(max-width:1919px) {


    /*Service Section*/  

    .ol-services {
        max-width: 1919px;
        span.service-right-bg {
            right: 10%;
        }
        .services-wrapper {
           
            padding: 0 20px;
            
            
            .row-two-column.content {
                margin: 0;
                margin-top: 30px;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
               
                
                h3.title {
                    margin: 30px 0;
                    font-size: 2.25rem;
                    span.dropcap {
                        font-size: 4.6rem;
                        line-height: 3rem;
                    }
                }
            }
            p {
                max-width: 100%;
                line-height: 26px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
       /*About Section*/  

 .ol-about {
    max-width: 1919px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}
/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 5.25rem;
    }
}
/*PrInt Section*/  

.ol-print {
    max-width: 1919px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2.5rem;
            
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    
    color: #595959;
        }
      .rm-button {
        
        a {
            display: block;
        }
      }
    }
   
}
}



@media(max-width:1680px) {


    /*Service Section*/  

    .ol-services {
        max-width: 1680px;
        .services-wrapper {
           
            padding: 0 20px;
            
            
            .row-two-column.content {
                margin: 0;
                margin-top: 30px;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
              
                
                h3.title {
                    margin: 30px 0;
                    font-size: 2.25rem;
                    span.dropcap {
                        font-size: 4.6rem;
                        line-height: 3rem;
                    }
                }
            }
            p {
                max-width: 100%;
                line-height: 26px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
       /*About Section*/  

 .ol-about {
    max-width: 1680px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}
/*PrInt Section*/  

.ol-print {
    max-width: 1680px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2.5rem;
            
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    
    color: #595959;
        }
      .rm-button {
        
        a {
            display: block;
        }
      }
    }
   
}
}



@media(max-width:1440px) {


    /*Service Section*/  

    .ol-services {
        max-width: 1440px;
        .services-wrapper {
           
            padding: 0 20px;
            .section-title {
                h2.title {
                    margin-bottom: 30px;
                }
            }
            
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                
                
                h3.title {
                    margin: 30px 0;
                    font-size: 2rem;
                    span.dropcap {
                        font-size: 4.6rem;
                        line-height: 3rem;
                    }
                }
            }
            p {
                max-width: 650px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
       /*About Section*/  

 .ol-about {
    max-width: 1440px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 5.25rem;
    }
}

/*PrInt Section*/  

.ol-print {
    max-width: 1440px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2.5rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}
}



@media(max-width:1366px) {


    /*Service Section*/  

    .ol-services {
        max-width: 1366px;
        .services-wrapper {
           
            padding: 0 20px;
            .section-title {
                h2.title {
                    margin-bottom: 30px;
                }
            }
            
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
               
                h3.title {
                    margin: 30px 0;
                   
                    font-size: 1.75rem;
                    span.dropcap {
                        display: block;
                        font-size: 4.5rem;
                        line-height: 6rem;
                    }
                }
            }
            p {
                max-width: 650px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
       /*About Section*/  

 .ol-about {
    max-width: 1366px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 5.25rem;
    }
}
/*PrInt Section*/  

.ol-print {
    max-width: 1366px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}
}


@media(max-width:1280px) {


    /*Service Section*/  

   .ol-services {
        max-width: 1280px;
        .services-wrapper {
           
            padding: 0 20px;
            .section-title {
                h2.title {
                    margin-bottom: 30px;
                }
            }
            
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
             
                h3.title {
                    margin: 30px 0;
                   
                    font-size: 1.75rem;
                    span.dropcap {
                        display: block;
                        font-size: 4.5rem;
                        line-height: 6rem;
                    }
                }
            }
            p {
                max-width: 650px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
       /*About Section*/  

 .ol-about {
    max-width: 1280px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 4.25rem;
    }
}
/*PrInt Section*/  

.ol-print {
    max-width: 1280px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}

/*Booking Section*/
.ol-booking {
    max-width: 1280px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
  
    .ol-booking-wrapper {
        .half-column.blank {
            width: 50%;
        }
        .form-section {
            width:80%
        } 
    }
}

}


@media(max-width:1024px) {


    /*Service Section*/  

   .ol-services {
        max-width: 1024px;
        .services-wrapper {
           
            padding: 0 20px;
            .section-title {
                h2.title {
                    margin-bottom: 30px;

                }
            }            
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
            
                
                h3.title {
                    margin: 30px 0;
                   
                    font-size: 1.75rem;
                    span.dropcap {
                        display: block;
                        font-size: 4.5rem;
                        line-height: 6rem;
                    }
                }
            }
            p {
                max-width: 650px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
    /*About Section*/  

 .ol-about {
    max-width: 1024px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 4.25rem;
    }
}

/*PrInt Section*/  

.ol-print {
    max-width: 1024px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .half-column.right {
            margin-left: 245px;
        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: 170px;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}

/*Booking Section*/
.ol-booking {
    max-width: 1024px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}

}



@media(max-width:990px) {


    /*Service Section*/  

   .ol-services {
        max-width: 990px;
        .services-wrapper {
            text-align: center;
            padding: 0 20px;
            .row-two-column {
                flex-direction: column;
                
            }
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                width: 100%;
                
                h3.title {
                    margin: 30px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    span.dropcap {
                        display: block;
                        font-size: 3.5rem;
                        line-height: 4.5rem;
                    }
                }
            }
            p {
                max-width: 990px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
    /*About Section*/  

 .ol-about {
    max-width: 990px;
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/* Dieticians Section*/
section.ol-dieticians {
    padding: 40px;
    background-size: cover;
    h2.title {
        font-size: 4.25rem;
    }
}

/*PrInt Section*/  

.ol-print {
    max-width: 990px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .row-two-column {
            flex-direction: column;
            .half-column {
                width: 100%;
            }
            .half-column.right {
                margin-left: 0;
                margin-top: 40px;
            }
        

        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: auto;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}
/*Booking Section*/
.ol-booking {
    max-width: 990px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}
}



@media(max-width:767px) {


    /*Service Section*/  

   .ol-services {
        max-width: 767px;
        .services-wrapper {
            text-align: center;
            padding: 0 20px;
            .row-two-column {
                flex-direction: column;
                
            }
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                width: 100%;
                
                h3.title {
                    margin: 30px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    span.dropcap {
                        display: block;
                        font-size: 3.5rem;
                        line-height: 4.5rem;
                    }
                }
            }
            p {
                max-width: 767px;
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }
    
/*Intro Section*/

.ol-intro {
    overflow: hidden;
        background: #f5f5f5;
    padding:0;
    .border-wrapper {
        height: 15px;
    }
    .row-two-column {
        flex-direction: column;
        .img-section {
            width: 100%;
    flex-direction: column;
    overflow: hidden;
        
        .text-wrapper {
            padding: 12px 0px 12px 80px;
            width: 100%;
            &::before {
                left: 30px;
    top: 35%;
            }
            h3 {
                font-size: 1.25rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
        }
        .text-section {
            width: 100%;
                padding: 20px;
                h3.title {
                    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: $textColor;
    margin: 0;
    
                }
            }
    }


    }

    /*About Section*/  

 .ol-about {
    max-width: 767px;
    span.right-bg {
        top: -95px;
        right: -10px;
        img {
            width: 150px;
        }
    }
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/*Dieticians Section*/

.ol-dieticians {
    background-position: 100% !important;
        padding: 30px 0 !important;
        max-width: 767px;
        text-align: center;
        position: relative;
        background-size: cover !important;
        z-index: 0;
    position: relative;
    
    &:before {
        content: "";
        background: $blackColor;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;        
        left: 0;       
        margin: 0 auto;
        z-index: -1;
    }
    
    .ol-dietitians-wrapper {
        
        .half-column {
            width: 100%;
            h2.title {
                font-size: 2.25rem;
                color: $whiteColor;
            }
            p {
                color:$whiteColor;
            }
        }
        .half-column.blank {
            width: auto;
        }
    }
    h4.sub-title {
    font-size: 2.25rem !important;
    margin: 0 auto !important;
    color: $whiteColor !important;
    }
    .rm-button {
        margin: 0 auto;
        padding-bottom: 30px;
    }
}
/*PrInt Section*/  

.ol-print {
    max-width: 767px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .row-two-column {
            flex-direction: column;
            .half-column {
                width: 100%;
            }
            .half-column.right {
                margin-left: 0;
                margin-top: 40px;
            }
        

        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: auto;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}
/*Booking Section*/
.ol-booking {
    max-width: 767px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}
}




@media(max-width:640px) {


    /*Service Section*/  

   .ol-services {
        max-width: 640px;
        .services-wrapper {
            text-align: center;
            padding: 0 20px;
            .row-two-column {
                flex-direction: column;
                
            }
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                width: 100%;
                
                h3.title {
                    margin: 30px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    span.dropcap {
                        display: block;
                        font-size: 3.5rem;
                        line-height: 4.5rem;
                    }
                }
            }
        }
        .services-wrapper > :last-child {
            margin-top: 60px;
        }
    }

/*Intro Section*/

.ol-intro {
    overflow: hidden;
        background: #f5f5f5;
    padding:0;
    .border-wrapper {
        height: 15px;
    }
    .row-two-column {
        flex-direction: column;
        .img-section {
            width: 100%;
    flex-direction: column;
    overflow: hidden;
    .image-wrapper {
        width: 100%;
        img {
            display: block;
    width: 100%;
    max-width: 350px;
        }
    }
    .semi-circle-1 {
        width: 500px;
    height: 500px;
    }
    .semi-circle-2 {
        width: 650px;
    height: 650px;
    }
    .semi-circle-3 {
        width: 785px;
    height: 785px;
    }
        .text-wrapper {
            padding: 12px 0px 12px 80px;
            width: 100%;
            position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
            &::before {
                left: 30px;
    top: 35%;
            }
            h3 {
                font-size: 1.25rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
        }
        .text-section {
            width: 100%;
                padding: 20px;
                h3.title {
                    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: $textColor;
    margin: 0;
    
                }
            }
    }


    }


    /*About Section*/  

 .ol-about {
    max-width: 640px;
    span.right-bg {
        top: -95px;
        right: -10px;
        img {
            width: 150px;
        }
    }
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}


/*Dieticians Section*/

.ol-dieticians {
    background-position: 100% !important;
        padding: 30px 0 !important;
        max-width: 640px;
        text-align: center;
        position: relative;
        background-size: cover !important;
        z-index: 0;
    position: relative;
    
    &:before {
        content: "";
        background: $blackColor;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;        
        left: 0;       
        margin: 0 auto;
        z-index: -1;
    }
    
    .ol-dietitians-wrapper {
        
        .half-column {
            width: 100%;
            h2.title {
                font-size: 2.25rem;
                color: $whiteColor;
            }
            p {
                color:$whiteColor;
            }
        }
        .half-column.blank {
            width: auto;
        }
    }
    h4.sub-title {
    font-size: 2.25rem !important;
    margin: 0 auto !important;
    color: $whiteColor !important;
    }
    .rm-button {
        margin: 0 auto;
        padding-bottom: 30px;
    }
}


/*PrInt Section*/  

.ol-print {
    max-width: 640px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .row-two-column {
            flex-direction: column;
            .half-column {
                width: 100%;
            }
            .half-column.right {
                margin-left: 0;
                margin-top: 40px;
            }
        

        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: auto;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}
/*Booking Section*/
.ol-booking {
    max-width: 640px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}
}



@media(max-width:480px) {


    /*Service Section*/  

   .ol-services {
        max-width: 480px;
        .services-wrapper {
            text-align: center;
            padding: 0 18px;
            .row-two-column {
                flex-direction: column;
                
            }
            .row-two-column.content {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                width: 100%;
                
                h3.title {
                    margin: 30px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    span.dropcap {
                        display: block;
                        font-size: 3.5rem;
                        line-height: 4.5rem;
                    }
                }
            }
        }
        .services-wrapper > :last-child {
            margin-top: 40px;
        }
    }


/*Intro Section*/

.ol-intro {
    overflow: hidden;
        background: #f5f5f5;
    padding:0;
    .border-wrapper {
        height: 15px;
    }
    .row-two-column {
        flex-direction: column;
        .img-section {
            width: 100%;
    flex-direction: column;
    overflow: hidden;
    .img-wrapper {
        margin: 0 auto;
        
    }
    .semi-circle-1 {
        width: 900px;
    height: 900px;
    }
    .semi-circle-2 {
        width: 1100px;
    height: 1100px;
    }
    .semi-circle-3 {
        width: 1250px;
    height: 1250px;
    }
        .text-wrapper {
            padding: 12px 0px 12px 80px;
            width: 100%;
            &::before {
                left: 30px;
    top: 35%;
            }
            h3 {
                font-size: 1.25rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
        }
        .text-section {
            width: 100%;
                padding: 20px;
                h3.title {
                    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: $textColor;
    margin: 0;
    
                }
            }
    }


    }



    /*About Section*/  

 .ol-about {
    max-width: 480px;
    span.right-bg {
        top: -95px;
        right: -10px;
        img {
            width: 150px;
        }
    }
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}


/*Dieticians Section*/

.ol-dieticians {
    background-position: 100% !important;
        padding: 30px 0 !important;
        max-width: 480px;
        text-align: center;
        position: relative;
        background-size: cover !important;
        z-index: 0;
    position: relative;
    
    &:before {
        content: "";
        background: $blackColor;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;        
        left: 0;       
        margin: 0 auto;
        z-index: -1;
    }
    
    .ol-dietitians-wrapper {
        
        .half-column {
            width: 100%;
            h2.title {
                font-size: 2.25rem;
                color: $whiteColor;
            }
            p {
                color:$whiteColor;
            }
        }
        .half-column.blank {
            width: auto;
        }
    }
    h4.sub-title {
    font-size: 2.25rem !important;
    width: auto !important;
    color: $whiteColor !important;
    }
    .rm-button {
        margin: 0 auto;
        padding-bottom: 30px;
    }
}




/*PrInt Section*/  

.ol-print {
    max-width: 480px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .row-two-column {
            flex-direction: column;
            .half-column {
                width: 100%;
            }
            .half-column.right {
                margin-left: 0;
                margin-top: 40px;
            }
        

        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: auto;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}


/*Booking Section*/
.ol-booking {
    max-width: 480px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}


}


@media(max-width:320px) {


    /*Service Section*/  

   .ol-services {
        max-width: 320px;
        .services-wrapper {
            text-align: center;
            padding: 0 15px;
            .row-two-column {
                flex-direction: column;
                
            }
            .row-two-column.content {
                margin: 0;
            }
            span.dropcap {
                margin: 0;
            }
           .column-2 {
               margin-left: 0;
           }
            .half-column {
                width: 100%;
                
                h3.title {
                    margin-bottom: 30px;
                    text-align: center;
                    span.dropcap {
                        display: block;
                    }
                }
            }
        }
        .services-wrapper > :last-child {
            margin-top: 40px;
        }
    }

/*Intro Section*/

.ol-intro {
    overflow: hidden;
        background: #f5f5f5;
    padding:0;
    .border-wrapper {
        height: 15px;
    }
    .row-two-column {
        flex-direction: column;
        .img-section {
            width: 100%;
    flex-direction: column;
    overflow: hidden;
    .img-wrapper {
        margin: 0 auto;
        
    }
    .semi-circle-1 {
        width: 700px;
    height: 700px;
    }
    .semi-circle-2 {
        width: 850px;
    height: 850px;
    }
    .semi-circle-3 {
        width: 945px;
    height: 945px;
    }
        
        .text-wrapper {
            padding: 12px 0px 12px 80px;
            &::before {
                left: 30px;
    top: 35%;
            }
            h3 {
                font-size: 1.25rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
        }
        .text-section {
            width: 100%;
                padding: 20px;
                h3.title {
                    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 35px;
    color: $textColor;
    margin: 0;
    
                }
            }
    }


    }

 /*About Section*/  

 .ol-about {
    max-width: 320px;
    span.right-bg {
        top: -95px;
        right: -10px;
        img {
            width: 150px;
        }
    }
    .about-wrapper {
        text-align: center;
        .content {
            width: 100%;
        }
      
    }
   
}

/*Dieticians Section*/

.ol-dieticians {
    background-position: 100% !important;
        padding: 30px 0 !important;
        max-width: 320px;
        text-align: center;
        position: relative;
        background-size: cover !important;
        z-index: 0;
    position: relative;
    
    &:before {
        content: "";
        background: $blackColor;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;        
        left: 0;       
        margin: 0 auto;
        z-index: -1;
    }
    
    .ol-dietitians-wrapper {
        
        .half-column {
            width: 100%;
            h2.title {
                font-size: 2.25rem;
                color: $whiteColor;
            }
            p {
                color:$whiteColor;
            }
        }
        .half-column.blank {
            width: auto;
        }
    }
    h4.sub-title {
    font-size: 2.25rem !important;
    width: auto !important;
    color: $whiteColor !important;
    }
    .rm-button {
        margin: 0 auto;
        padding-bottom: 30px;
    }
}


 /*PrInt Section*/  

 .ol-print {
    max-width: 320px;
    .ol-print-wrapper {
        padding: 0 20px 0 20px;
        .row-two-column {
            flex-direction: column;
            .half-column {
                width: 100%;
            }
            .half-column.right {
                margin-left: 0;
                margin-top: 40px;
            }
        

        }
        h3.title {
            font-size: 2rem;
            text-align: center;
        }
        .description {
            margin-bottom: 0;
            min-height: auto;
        }
        p, ul {
            font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #595959;
        }
      .rm-button {
        margin: 0 auto;
        a {
            display: block;
        }
      }
    }
   
}

/*Booking Section*/
.ol-booking {
    max-width: 320px;
    padding: 0 20px;
    h2.title {
        font-size: 2.75rem !important;
    }
    input[type="submit"] {
        margin: 0 auto !important;
    }
    .ol-booking-wrapper {
        .half-column.blank {
            width: auto;
        }
    }
}


}